*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(145, 145, 145);
}
.header{
    background-color:rgb(13, 117, 143) ;
}
.image{
    width: 85px;
    margin-top: 10px;
    float: left;
}
.title{
    font-size: 65px;
    float: left;
    padding: 10px;
    margin-left: 0px;
    color: rgb(7, 7, 7);
}
.bi{
    float: right;
    margin-right: 30px;
    color: white;
    margin-top: 35px;
}
.hr1{
    color: rgb(111, 111, 199);
    justify-content: center;
    height: 10px;
}

p{
    font-size: 130%;
}
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pl{
    color:red;
}
footer{
    background-color: rgb(13, 117, 143);
    height: 250px;
    text-align: center;
}
.foot{
    color: rgba(0, 0, 0, 0.582);
    padding: 100px;
    font-size: 13px;
}
.haaland{
    width: 95%;
}